<!DOCTYPE html>
<html class="ge-project-manager" ng-app="angular-squire">
<head>
    <meta charset="UTF-8">
    <title>Angular-Squire</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/angular-squire/css/vendor.css">

    <link rel="stylesheet" href="/angular-squire/css/angular-squire.css">

    <base href="/">

</head>
<body ng-init="value='<b>HourlyNerd</b> The future of consulting.'">
    <base href="/">
    <form class="form" autocomplete="off">
    <div class="container">
        <h1>Angular-Squire &nbsp;
            <a href="http://hourlynerd.github.io/angular-squire">
                <img id="under-nav"
                    style="position: absolute; top: 0; right: 0px; border: 0px;"
                    src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
                    alt="Fork me on GitHub">
            </a>
            <iframe style="border:none"
                class="pull-right"
                src="http://ghbtns.com/github-btn.html?user=hourlynerd&amp;repo=angular-squire&amp;type=watch&amp;count=true"
                width="80"
                height="20"
                title="Star on GitHub">
            </iframe>
        </h1>
        <p class="lead">
            An angularjs wrapper directive for the excellent <a href="https://github.com/neilj/Squire">squire editor</a> by <a href="https://hourlynerd.com/">HourlyNerd Inc</a>.
        </p>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Here is the default editor. It supports adding and removing links, and shows you which styles are under cursor.
                </p>
                <hr/>
                <p>
                    <textarea class="form-control" ng-model="demo1" style="width: 100%;"></textarea>
                </p>
            </div>
            <div class="col-sm-8">
                <squire editor-class="foo" height="150px"
                    ng-model="demo1" name="body" body="value"
                    placeholder="Type in here!">
                </squire>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Here is an editor with a cover. The cover has placeholder on it, and when you click it, it reveals the editor and an optional controls container.
                </p>
            </div>
            <div class="col-sm-8">
                <squire height="150px" ng-model="bar" name="body" placeholder="why do you like cats?" required>
                    <squire-cover>
                        <div style="border: 1px solid #dde6e8; color: #bbb; padding: 10px; cursor: pointer;">Click if you like cats</div>
                    </squire-cover>
                    <squire-controls>
                        <div class="form-group">
                            <button class="btn btn-primary pull-right" type="button">Meow</button>
                        </div>
                    </squire-controls>
                </squire>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Usage</h3>
                <p>
                    <pre>bower install angular-squire</pre>
                </p>
                <p>
                    Add the <code>angular-squire</code> module dependency to your angular app.
                </p>
                <p>
                    View the source for directive example use :) Will update this at some point soon.
                </p>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <hr/>
        <p class="lead">
            &copy; 2015 <a href='https://hourlynerd.com/careers'>HourlyNerd Inc.</a>
        </p>
    </div>
    </form>

    <!-- config.json -->
    <!-- endconfig -->

    <script src="/angular-squire/scripts/vendor.js"></script>

    <script src="/angular-squire/scripts/angular-squire.js"></script>

</body>
</html>
